.itemcards {
  background-color: darksalmon;
  display: inline-block;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 4px 4px 6px rgb(83, 83, 83);
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 8px;
}
.navigation{
  background-color: darkgray;
  color: white;
  font-size: 32px;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
  padding-right: 10px;
  display: block;
}
.Cartcount{
  background-color: red;
  box-shadow: 2px 2px 0px black;
  padding: 4px;
  font-size: 15px;
  position: absolute;
  border-radius: 40%;
  top: -12px;
}
.button {
  display: inline-flex;
  border-radius: 6px;
  padding: 4px;
  margin: 2px;
  text-align: center;
}